body {
    background: #111;
    color: white;
    font-family: sans-serif;
}

#ctn-btn {
    width: 500px;
    height: 400px;
    background: #222;
    border: 2px solid #00ff00;
    margin: auto;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
}

#btn-atrapame {
    position: absolute;
    top: 150px;
    left: 180px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: #00ff00;
    transition: top 0.1s, left 0.1s;
}

#score-box {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}